<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Code Hub Simple Rules</h3>
        </div>
        <div class="panel-body">
            <div class="well well-sm">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Be open-sourced!
            </div>
            <div class="well well-sm">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Share knowledge!
            </div>
            <div class="well well-sm">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Don't be a hater!
            </div>
            <p class="text-success">And rememeber... Knowledge shared is a knowledge squared!</p>
        </div>
    </div>
</div>
