@model CodeHub.Web.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "User profile";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>Change your password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
        </dd>
    </dl>*@
</div>
