@model List<CodeHub.Web.ViewModels.HomePage.SyntaxHomePageViewModel>
@{
    ViewBag.Title = "Home Page";
}
@{
    var totalCount = Model.Count;
}

@section styles {
    @Styles.Render("~/Content/codemirror")
}
<div class="well-sm">
    <div class="row">
        <div class="col-md-8">
            <h1 class="custom-styled-font">Welcome to CodeHub</h1>
            <p class="lead">
                Freedom of being open-sourced
            </p>
        </div>
        @Html.Partial("_CodeHubMindMapPartial")
    </div>
</div>

<div class="container">
    @for (int i = 0; i < totalCount; i += 3)
    {
    <div class="row">
        @for (int j = i; j < ((i + 3) > totalCount ? totalCount : i + 3); j++)
        {
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Model[j].Name</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    @Html.Action("GetLatestPastes", "Pastes", new { syntaxId = Model[j].Id })
                                </div>
                            </div>
                        </div>
                    </div>
        }
    </div>
    }
</div>
