@model int

<a href="/Comments/Edit/@Model" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="left" title="Edit Comment">
    <span class="glyphicon glyphicon-edit"></span>
</a>
<a href="/comments/delete/@Model" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="right" title="delete comment">
    <span class="glyphicon glyphicon-remove"></span>
</a>