@model bool
@if (Model)
{
    <p class="text-danger"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> There is a bug!!!</p>
}
else
{
    <p class="text-info"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> No bugs found for now</p>
}
