@using CodeHub.Web.Areas.Administration.ViewModels;
@{
    const string ControllerName = "Users";
    ViewBag.Title = "Users administration";
}

<h2>@ViewBag.Title</h2>
@(Html.ReadAndDeleteGrid<UserViewModel>
    (ControllerName, m => m.Id, columns =>
    {
        columns.Bound(u => u.UserName);
        columns.Bound(u => u.Email).ClientTemplate("<a href=\"mailto: #: Email #\"><strong>#:Email #<strong></a>");
        columns.Bound(u => u.FullName);
        columns.Bound(u => u.PastesCount);
        columns.Bound(u => u.CommentsMade);
        columns.Command(
        command =>
        {
            command.Destroy();
        });
    }))

@section scripts{
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
        function errorHandler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}
